@charset "utf-8";
/* CSS Document */

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: auto;
	height:70vh;
    padding: 1em;
    background-image: radial-gradient(#363636,#1f1f1f, #000000 );
    border-radius: 8px;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.1);
    margin-top: 2em;
	margin-bottom: 3em;
    position:relative;
}

@property --angle{
    syntax:"<angle>";
    initial-value: 0deg;
    inherits:false;
}
.container::after, .container::before{	
	background-image: conic-gradient(from var(--angle), #ff4545,#00ff99,#006aff,#ff0095,#ff4545);
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top:-1em;
	left:-1em;
	padding: 1em;
	z-index: -1;
	border-radius: 10px;
    animation: 3s spin linear infinite;
}

.container::before{
	filter: blur(1.5em);
	opacity: 0.5;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle:360deg;
    }

}

form{
    margin-top:2em;
    margin-bottom:3em;
	width:100%;
	height:35vh;
	display: grid;
	grid-template-rows: 25% 25% 25%;
	grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	grid-row-gap: 0.75em;
    text-align:center;
}

h1,h2,p{
    text-align: center;
	color:white
}

#name{
    grid-row: 1/ 2;
	grid-column: 3 / 9;
	padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align:center;
    font-size:1em;
    background-color:#0a0a23;
}
#songInput{
	grid-row: 2/ 3;
	grid-column: 3 / 9;
	padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align:center;
    font-size:1em;
    background-color:#0a0a23;
}
#songURL{
	grid-row: 3/4;
	grid-column: 3/9;
	padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align:center;
    font-size:1em;
    background-color:#0a0a23;
}
#submitButton{
	grid-row: 5/5;
	grid-column: 4/8;
	padding: 1em 2em;
    border: none;
    background-color: #3700b3;
    color: #fff;
    border-radius: 0.5em;
    cursor: pointer;
    text-align:center;
    font-size:1em;
}

#submitButton:hover {
    background-color: #2d0194;
}
#submitButton:active {
    background-color: #170247;
}
